[
    {kernel, [
        {logger_level, info},
        {logger, [

            % console log

            {handler, default, logger_std_h, #{
                formatter => {
                    logger_formatter, #{
                        single_line => false,
                        template => ["[", time,"] ", level, " ", pid, " ", mfa,":",line, " => ", msg,"\n"],
                        time_offset => "Z"
                    }
                },

                config => #{
                    overload_kill_enable => true,
                    sync_mode_qlen => 10000,
                    drop_mode_qlen => 10000,
                    flush_qlen     => 10000
                },

                filters => [
                    {remote_group_leader, {fun logger_filters:remote_gl/2, stop}},
                    {progress, {fun logger_filters:progress/2, stop}},
                    {sasl, {fun logger_filters:domain/2, {stop, sub, [otp, sasl]}}}
                ]
            }}
        ]}
    ]},

    {erlcass, [
        {cluster_options,[
            {contact_points, <<"127.0.0.1">>},
            {latency_aware_routing, true},
            {token_aware_routing, true},
            {number_threads_io, 4},
            {queue_size_io, 128000},
            {core_connections_host, 1},
            {tcp_nodelay, true},
            {tcp_keepalive, {true, 60}},
            {connect_timeout, 5000},
            {request_timeout, 5000},
            {retry_policy, {default, true}}
        ]}
    ]}
].
