
{erlcass_cluster_options, [
    {contact_points, <<"127.0.0.1">>},
    {latency_aware_routing, true},
    {token_aware_routing, true},
    {number_threads_io, 8},
    {queue_size_io, 128000},
    {core_connections_host, 5},
    {max_connections_host, 5},
    {tcp_nodelay, true},
    {tcp_keepalive, {true, 60}},
    {pending_requests_high_watermark, 128000},
    {connect_timeout, 5000},
    {request_timeout, 20000}
]}.
