%% {
%%     deps,
%%     [
%%         {plists, ".*", {git, "https://github.com/silviucpp/plists.git", {branch, "master"}}}
%%     ]
%% }.

{pre_hooks,
    [
        %http://datastax.github.io/cpp-driver/topics/building/
        {compile, "./build_deps.sh"}
    ]
}.

{port_specs,
    [
        {"darwin","priv/erlcass.so", ["c_src/*.cc"],
            [
                {env,
                    [
                        {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -fno-exceptions -fno-rtti -Os -Icpp-driver/include -Icpp-driver/src -I/usr/local/include/"},
                        {".*", "LDFLAGS", "$LDFLAGS -L/usr/local/lib/ -Lcpp-driver/build -lcassandra_static -luv"}
                    ]
                }
            ]
        },
  
        {"linux","priv/erlcass.so", ["c_src/*.cc"],
            [
                {env,
                    [
                        {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Wextra -Wno-unused-parameter -Wno-missing-field-initializers -Wno-unused-local-typedefs -fno-exceptions -fno-rtti -Os -Icpp-driver/include -Icpp-driver/src"},
                        {".*", "LDFLAGS", "$LDFLAGS -L/usr/local/lib/ -Lcpp-driver/build -lcassandra_static -luv -lstdc++"}
                    ]
                }
            ]
        }
    ]
}.
