{deps, [
    {'cpp-driver', ".*",
      {git, "https://github.com/silviucpp/cpp-driver.git", "master"}, [raw]}]
}.
{deps_dir, "../"}.
{post_hooks,[{'get-deps',"sh -c './build_deps.sh'"}]}.

{port_specs, [
  {"darwin","priv/erlcass.so", ["c_src/*.cc"],[
    {env, [
      {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Wextra -Werror -Wno-unused-parameter -Wno-missing-field-initializers -fno-exceptions -fno-rtti -Os -isystem ../cpp-driver/include -isystem ../cpp-driver/src -I/usr/local/include/"},
      {".*", "LDFLAGS", "$LDFLAGS -L/usr/local/lib/ -L../cpp-driver/build -lcassandra_static -luv -lssl -lcrypto"}
    ]}
  ]},
  {"linux","priv/erlcass.so", ["c_src/*.cc"],[
    {env, [
      {".*", "CXXFLAGS", "$CXXFLAGS -g -Wall -Wextra -Werror -Wno-unused-parameter -Wno-missing-field-initializers -Wno-unused-local-typedefs -fno-exceptions -fno-rtti -Os -isystem ../cpp-driver/include -isystem ../cpp-driver/src"},
      {".*", "LDFLAGS", "$LDFLAGS -L/usr/local/lib/ -L../cpp-driver/build -lcassandra_static -luv -lstdc++ -lssl -lcrypto"}
    ]}
  ]}
]}.
