{pre_hooks, [{"(linux|darwin)", compile, "make nif_compile CPP_DRIVER_REV=0edf3d2eff88d7594ed7dc070f889b1bcacb677f"}]}.
{post_hooks, [{"(linux|darwin)", clean, "make nif_clean"}]}.

{plugins, [rebar3_hex]}.

{deps, [
    {lager, "3.6.9"}
]}.

{erl_opts, [
    warnings_as_errors,
    warn_export_all,
    {parse_transform, lager_transform}
]}.
